.container{
  background-color: #202020;  
  margin-right: 240px;
  
}

.search-box{
  border-radius: 40px;
}

.navbar{
  display: flex;
}

.row{
  width: 100%;
  background-color: #181818;
  height: 200px;
  display: flex;
  justify-content: space-between;
  
}

.column{
  width: 24%;
  background-color: green;
  border: 2px solid;
  position: relative;
 
}

.card-img{
  width: 100%;
    
}